[submodule "lisp/warp"]
	path = lisp/warp
	url = https://github.com/toroidal-code/Warp.git
[submodule "lisp/synosaurus"]
	path = lisp/synosaurus
	url = https://github.com/toroidal-code/synosaurus
[submodule "themes/powerline"]
	path = themes/powerline
	url = https://github.com/toroidal-code/powerline.git
[submodule "lisp/tabbar-ruler"]
	path = lisp/tabbar-ruler
	url = https://github.com/taquangtrung/tabbar-ruler.el
[submodule "lisp/cycle-themes"]
	path = lisp/cycle-themes
	url = http://github.com/toroidal-code/cycle-themes.el
[submodule "themes/leuven"]
	path = themes/leuven
	url = https://github.com/toroidal-code/emacs-leuven-theme.git
[submodule "cedet"]
	path = lisp/cedet
	url = https://github.com/toroidal-code/cedet.git
[submodule "monokai"]
	path = themes/monokai
	url = https://github.com/toroidal-code/monokai-extended-theme.el.git
[submodule "themes/base16"]
	path = themes/base16
	url = https://github.com/milkypostman/base16-emacs.git
[submodule "lisp/tabbar"]
	path = lisp/tabbar
	url = https://github.com/dholm/tabbar.git
